global:
  scrape_interval: 15s

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]
  - job_name: "zookeeper_exporter"
    static_configs:
      - targets: ["localhost:9141"]
  - job_name: "demo"
    scrape_interval: 15s
    scrape_timeout: 10s
    metrics_path: '/demo/actuator/prometheus'
    static_configs:
      - targets: ['localhost:8401']
  - job_name: minio-job
    bearer_token: eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJleHAiOjQ3OTgwOTA2NTUsImlzcyI6InByb21ldGhldXMiLCJzdWIiOiJUTEFRWkZBNjFIVU9PSFZPTjZWWCJ9.0lgY_JOijgnlyXh1J1kP02pVsKxwF6kVFN6JcQPp0OG2PGvKAtVLP4FY300J-pirhPMD5plTklLZgOy3M1U3HQ
    metrics_path: /minio/v2/metrics/cluster
    scheme: http
    static_configs:
      - targets: ['localhost:9000']
